.App {

}

.header {
  background-color: #86C9ED;
  height: 8vh;
}

.jumbotron {
  display: block;
  padding: 2rem;
  text-align: center;
}

.main-tagline {
  font-size: large;
  font-weight: bold;
  padding: 1em;
}

.sub-tagline {
  font-style: italic;
  font-weight: lighter;
}

.main {
  max-width: 600px;
  min-width: 344px;
  width: 80%;
  margin: auto auto 1em;
}
